body {
  background-color: #F6FDBE;
}

.jumbotron {
  align-items: center;
  padding-left: 15%;
  padding-right: 5%;
  background-color: #9CB798;
  border-top: solid #5D5D5D 2px;
  border-bottom: solid #5D5D5D 2px;

}

.jumbotron small {
  color: #E0E0E0;
}
